NEXT_PUBLIC_APP_NAME=Manufacturing Corporate Site
NEXT_PUBLIC_DEFAULT_LOCALE=zh
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api
API_BASE_URL_INTERNAL=http://localhost:3001/api
NEXT_PUBLIC_BAIDU_SITE_VERIFICATION=
NEXT_PUBLIC_BAIDU_TONGJI_ID=aecc3dcdd0269720537a44fc963eddbb
NEXT_PUBLIC_BING_SITE_VERIFICATION=
NEXT_PUBLIC_360_SITE_VERIFICATION=
NEXT_PUBLIC_SOGOU_SITE_VERIFICATION=
INDEXNOW_KEY=
INDEXNOW_KEY_LOCATION=
BAIDU_PUSH_TOKEN=
